<!DOCTYPE html>
<html ng-app="MyFirstApp">
<head>
	<meta charset="utf-8">
	<title>Hola mundo con AngularJS</title>
	 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="controller.js"></script>
</head>
<body ng-controller="FirstController">
	<input type="text" ng-model="nuevoComentario.comentario"><br>
	<input type="text" ng-model="nuevoComentario.username">
	<button ng-click="agregarComentario()">Agregar comentario</button>
	<h3>Comentarios</h3>
	<ul>
		<li ng-repeat="comentario in comentarios">
			{{comentario.comentario}} - <strong>{{comentario.username}}</strong>
		</li>
	</ul>
</body>
</html>
